/*--------------------------------------------fonts & icons*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url("//use.fontawesome.com/releases/v4.7.0/css/all.css'");

/*--------------------------------------------headers styling*/
body{
    scroll-behavior: smooth;
    font-family: 'Roboto';
}

/* LANDING */

.bg-landing{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bg-contain{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

/* WHAT I DO */
.work-col{
    height: 17vw;
    border-radius: 0.55vw;
    
    background-color: whitesmoke;
    position: relative;
    overflow: hidden;
}
.work-icons{
    width: auto;
    height: 3.125vw;
    position: center;
}