body {
display: flex;
min-height: 100vh;
flex-direction: column;
}

main {
flex: 1 0 auto;
}

/*--------------------------------------------fonts & icons*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url("//use.fontawesome.com/releases/v4.7.0/css/all.css'");

/*--------------------------------------------headers styling*/
html {
  scroll-behavior: smooth;
}
h1, h2, h3, p{
    font-family: Roboto, sans-serif important!;
}
h1, h2{
    font-family: 'Homemade Apple', cursive;
    text-align: center;
}
h1{
    font-size: 2.5em;
    padding-top: 10vw;
}
h2{
    font-size: 1.5em;
    font-weight: bold;
}
h3, h5{
    font-size: 1.25em;
    padding-top: 2vw;
    font-weight: bold;
}
p{
    font-size: 1em;
}
body{
    scroll-behavior: smooth;
    font-family: 'Roboto';
}

/* -------------------- */

/* LANDING */

.bg-landing{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bg-contain{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

/* WHAT I DO */
.work-col{
    height: 17vw;
    border-radius: 0.55vw;
    
    background-color: whitesmoke;
    position: relative;
    overflow: hidden;
}
.work-icons{
    width: auto;
    height: 3.125vw;
    position: center;
}