<!DOCTYPE html>
<html>

    <!-- Head -->
    <head>
    {% block head %}
        <!-- Metadata -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Materialize CDN -->
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
         
        <!-- Bootstrap CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <!-- Own CSS -->
        <link rel="stylesheet" href="../css/style.css">
        
        <!-- Compiled and minified JavaScript -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
        <!-- Own JS -->
        <script src="../js/base.js"></script>

        <!-- FIREBASE Storage -->
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#available-libraries -->

        <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyBqCZ1jGDlnNkIqZ5EcBQqGb6NuX32cs20",
            authDomain: "profile-9dc8f.firebaseapp.com",
            projectId: "profile-9dc8f",
            storageBucket: "profile-9dc8f.appspot.com",
            messagingSenderId: "798070825329",
            appId: "1:798070825329:web:f3c615b922130c87f856d0"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        </script>

        <!-- Icons -->
        <script src="https://kit.fontawesome.com/fec8644327.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">

        <title>Alexandra Rabi</title>
    {% endblock %}
    </head>

    <!-- Header -->
    <header>
    {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-light fixed-top white text-black" id="navigation-menu">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about-me">Who I am </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#what-I-do" data-parent="#">What I do </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#brands">Brands </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#projects">Projects </a>
                    </li>
                </ul>
            </div>
        </nav>
    {% endblock %}
    </header>
    
    <!--Content-->
    <body>
    {% block body %}
    {% endblock %}
    </body>    
    
    <!-- Footer -->
    {% block footer %}
    <footer class="page-footer grey lighten-2 text-black">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="">Footer Content</h5>
                <p class="">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="">Links</h5>
                <ul>
                  <li><a class="text-black" href="#!">Link 1</a></li>
                  <li><a class="text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            <h3 class="a-telier text-center text-darken-2">made by l'A-telier</h3>
            </div>
          </div>
    </footer>
    {% endblock %}

</html>